---
http_interactions:
- request:
    method: post
    uri: https://conda.libraries.io/parse
    body:
      encoding: UTF-8
      string: file=name%3A%20testingenv%0Achannels%3A%0A%20%20-%20defaults%0Adependencies%3A%0A%20%20-%20beautifulsoup4%3D4.7.1%3Dpy37_1%0A%20%20-%20biopython%3D1.74%3Dpy37h7b6447c_0%0A%20%20-%20certifi%3D2019.6.16%3Dpy37_1%0A%20%20-%20ncurses%3D6.1%3Dhe6710b0_1%0A%20%20-%20numpy%3D1.16.4%3Dpy37h7e9f1db_0%0A%20%20-%20openssl%3D1.1.1c%3Dh7b6447c_1%0A%20%20-%20pip%0A%20%20-%20python%3D3.7.3%3Dh0371630_0%0A%20%20-%20readline%3D7.0%3Dh7b6447c_5%0A%20%20-%20setuptools%0A%20%20-%20sqlite%3D3.29.0%3Dh7b6447c_0&filename=environment.yml
    headers:
      Contenttype:
      - multipart/form-data
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"channels\": [\n    \"defaults\"\n  ], \n  \"lockfile\": [\n
        \   {\n      \"name\": \"_libgcc_mutex\", \n      \"requirement\": \"0.1\"\n
        \   }, \n    {\n      \"name\": \"beautifulsoup4\", \n      \"requirement\":
        \"4.7.1\"\n    }, \n    {\n      \"name\": \"biopython\", \n      \"requirement\":
        \"1.74\"\n    }, \n    {\n      \"name\": \"blas\", \n      \"requirement\":
        \"1.0\"\n    }, \n    {\n      \"name\": \"ca-certificates\", \n      \"requirement\":
        \"2019.5.15\"\n    }, \n    {\n      \"name\": \"certifi\", \n      \"requirement\":
        \"2019.6.16\"\n    }, \n    {\n [...]
