---
http_interactions:
- request:
    method: post
    uri: https://gradle-parser.libraries.io/parse
    body:
      encoding: UTF-8
      string: |
        dependencies {
          compile 'com.whatever:liblib:1.2.3'
          compile 'this.is.a.group:greatlib'
          compile "com.fasterxml.jackson.core:jackson-databind"
          compileOnly "this.thing:neat" // I am a comment
          testCompile "hello.there:im.a.dep:$versionThing" // I am a comment
        }
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"dependencies":[{"group":"com.whatever","name":"liblib","version":"1.2.3","type":"compile","excludes":[]},{"group":"","name":"''this.is.a.group:greatlib''","version":"","type":"compile","excludes":[]},{"group":"","name":"\"com.fasterxml.jackson.core:jackson-databind\"","version":"","type":"compile","excludes":[]},{"group":"","name":"\"this.thing:neat\"
        // I am a comment","version":"","type":"compileOnly","excludes":[]},{"group":"","name":"\"hello.there:im.a.dep:$versionThing\"
        // I am a comment","version":"","type":"testCompile","excludes":[]}]}'
  recorded_at: Wed, 14 Apr 2021 18:29:48 GMT
recorded_with: VCR 4.0.0
