version: 2.1
orbs:
  ruby: circleci/ruby@2.1.3

executors:
  bibliothecary:
    docker:
      - image: cimg/ruby:3.2.5
    working_directory: ~/bibliothecary


commands:
  setup-ruby-env:
    description: "Some requirements to ensure that the ruby orb install-deps works"
    steps:
      - run:
          name: Prep ruby
          command: |
            touch /tmp/ruby-project-lockfile
            bundle lock --add-platform x86_64-linux
      - ruby/install-deps:
          bundler-version: "2.3"


jobs:
  test:
    executor: bibliothecary
    steps:
    - checkout
    - setup-ruby-env
    - run:
        name: Run specs
        command: bundle exec rake spec
    - run:
        name: CodeClimate
        command: bundle exec codeclimate-test-reporter  

  lint:
    executor: bibliothecary
    steps:
    - checkout
    - setup-ruby-env
    - run:
        name: Run specs
        command: bundle exec rake lint

workflows:
  version: 2.1
  circleci_build:
    jobs:
      - test
      - lint

