---
http_interactions:
- request:
    method: post
    uri: http://swift.libraries.io/to-json
    body:
      encoding: UTF-8
      string: "import PackageDescription\n\nlet package = Package(\n    name: \"swift-package-converter\",\n
        \   dependencies: [\n    \t.Package(url: \"https://github.com/qutheory/vapor.git\",
        majorVersion: 0, minor: 12),\n    \t.Package(url: \"https://github.com/czechboy0/Tasks.git\",
        majorVersion: 0, minor: 2),\n    \t.Package(url: \"https://github.com/czechboy0/Environment.git\",
        majorVersion: 0, minor: 4),\n    ]\n)\n"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Vapor-Duration:
      - 539.948 ms
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"dependencies": [{"url": "https://github.com/qutheory/vapor.git",
        "version": {"lowerBound": "0.12.0", "upperBound": "0.12.9223372036854775807"}},
        {"url": "https://github.com/czechboy0/Tasks.git", "version": {"lowerBound":
        "0.2.0", "upperBound": "0.2.9223372036854775807"}}, {"url": "https://github.com/czechboy0/Environment.git",
        "version": {"lowerBound": "0.4.0", "upperBound": "0.4.9223372036854775807"}}],
        "exclude": [], "name": "swift-package-converter", "targets": []}'
  recorded_at: Fri, 18 May 2018 14:24:02 GMT
recorded_with: VCR 4.0.0
