---
http_interactions:
- request:
    method: post
    uri: https://yarn-parser.libraries.io/parse
    body:
      encoding: UTF-8
      string: |
        # THIS IS AN AUTOGENERATED FILE. DO NOT EDIT THIS FILE DIRECTLY.
        # yarn lockfile v1


        "vue@https://github.com/vuejs/vue.git#v2.6.12":
          version "2.6.12"
          resolved "https://github.com/vuejs/vue.git#bb253db0b3e17124b6d1fe93fbf2db35470a1347"
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6d-oLKqikq+LrY+b/Lx0yRs25w0LB0"
    body:
      encoding: UTF-8
      string: '[{"name":"vue","version":"2.6.12","requirement":"https://github.com/vuejs/vue.git#v2.6.12","type":"runtime"}]'
  recorded_at: Fri, 04 Sep 2020 19:40:00 GMT
recorded_with: VCR 6.0.0
