---
http_interactions:
- request:
    method: post
    uri: https://yarn-parser.libraries.io/parse
    body:
      encoding: UTF-8
      string: |
        # THIS IS AN AUTOGENERATED FILE. DO NOT EDIT THIS FILE DIRECTLY.
        # yarn lockfile v1


        find-versions@4.0.0:
          version "4.0.0"
          resolved "https://registry.yarnpkg.com/find-versions/-/find-versions-4.0.0.tgz#3c57e573bf97769b8cb8df16934b627915da4965"
          integrity sha512-wgpWy002tA+wgmO27buH/9KzyEOQnKsG/R0yrcjPT9BOFm0zRBVQbZ95nRGXWMywS8YR5knRbpohio0bcJABxQ==
          dependencies:
            semver-regex "^3.1.2"

        semver-regex@^3.1.2:
          version "3.1.3"
          resolved "https://registry.yarnpkg.com/semver-regex/-/semver-regex-3.1.3.tgz#b2bcc6f97f63269f286994e297e229b6245d0dc3"
          integrity sha512-Aqi54Mk9uYTjVexLnR67rTyBusmwd04cLkHy9hNvk3+G3nT2Oyg7E0l4XVbOaNwIvQ3hHeYxGcyEy+mKreyBFQ==

        semver-regex@^4.0.0:
          version "4.0.2"
          resolved "https://registry.yarnpkg.com/semver-regex/-/semver-regex-4.0.2.tgz#fd3124efe81647b33eb90a9de07cb72992424a02"
          integrity sha512-xyuBZk1XYqQkB687hMQqrCP+J9bdJSjPpZwdmmNjyxKW1K3LDXxqxw91Egaqkh/yheBIVtKPt4/1eybKVdCx3g==
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f7-fWJr4R+dXKOJZsgt4ZxHPxJbUdg"
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"find-versions","version":"4.0.0","requirement":"4.0.0","type":"runtime"},{"name":"semver-regex","version":"3.1.3","requirement":"^3.1.2","type":"runtime"},{"name":"semver-regex","version":"4.0.2","requirement":"^4.0.0","type":"runtime"}]'
  recorded_at: Fri, 22 Oct 2021 02:18:36 GMT
recorded_with: VCR 6.0.0
